.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 100px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
}

.BuildControl button:disabled {
    background-color: #666363;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #666363;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
    font-style: oblique;
}

.BuildControl .Less {
    background-color: #25466d8c;
    color: white;
}

.BuildControl .More {
    background-color:#F69491;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {
    background-color: #25476D;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #bf3813;
    color: white;
}