.Pizza{
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
}


@media(min-width:500px) and (min-height:400px){
    .Pizza{
        width: 350px;
        height: 300px;
    }
}