.Pizza{
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
}



  .oil {
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 5px;
  }

  .oil1 {
    position: relative;
    top: -400px;
    left: 85px;
  }

@media(min-width:500px) and (min-height:400px){
    .Pizza{
        width: 350px;
        height: 300px;
    }
}