.Toolbar{
    height: 56px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgb(247, 68, 68);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    color:#fff;
}

.Toolbar nav{
    height: 100%;

}