.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font-style:initial;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.Success {
    background-color: #5C9210;
}

.Danger {
    background-color: #d9534f;
}