.NavigationItem{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}

.NavigationItem a {
    color:#fff;
    text-decoration: none;
    height: 100%;
    padding:16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover
.NavigationItem a:active
.NavigationItem a.active{
    background-color: tomato;
    border-bottom: 4px solid aliceblue !important;
    color:#fff;
}