.NavigationItem{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}

.NavigationItem a {
    color:#fff;
    text-decoration: none;
    height: 100%;
    padding:16px 10px;
    border-bottom: none;
    box-sizing: border-box;
    display: block;
}
.active {
    border-bottom: 5px solid #ddd !important;
    color: #fff !important;
}
