.crust {
  width: 300px;
  height: 300px;
  background: burlywood;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.cheese {
  width: 250px;
  height: 250px;
  background: gold;
  border-radius: 125px;
  position: relative;
  top: -275px;
  left: 25px;
}
.pepperoni {
  width: 30px;
  height: 30px;
  background: firebrick;
  border-radius: 15px;
  position: relative;
}

.oil {
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 5px;
  position: relative;
  top: -400px;
  left: 85px;
}
